
@{
    ViewData["Title"] = "DisplayData";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>DisplayData</h1>
<div class="container">
    Welcome to Display Data page

</div>
<table class="table table-dark">
    <tr>
        <th>ROLLNO</th>
        <th>NAME</th>
        <th>EMAILID</th>
        <th>PASSWORD</th>
        <th>ROLE</th>
        <th>DOB</th>
        <th>ADDRESS</th>
        <th>FEE</th>
        <th>QUALIFICATION</th>
        <th>GENDER</th>
        <th>BRANCH</th>
        <th>MOBILE</th>
        <th>STATUS</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.ROLLNO</td>

            <td>@item.NAME</td>

            
            <td>@item.EMAILID</td>

            <td>@item.PASSWORD</td>

            <td>@item.ROLE</td>

            

            <td>@item.DOB</td>

            
            <td>@item.ADDRESS</td>

            <td>@item.FEE</td>

            <td>@item.QUALIFICATION</td>

            
            <td>@item.GENDER</td>

            <td>@item.BRANCH</td>

            <td>@item.MOBILE</td>

            
            <td>@item.STATUS</td>
            <td>
                @Html.ActionLink("Update","EDIT","Users",new{ROLLNO=item.ROLLNO},null)
                @Html.ActionLink("Delete","Delete","Users",new{ROLLNO=item.ROLLNO},null)
               
            </td>
        </tr>
        }

</table>

