@using WebAppDevasena.Models;
@model STDModel;
@{
    Layout = null;
}

<h1>LOGIN</h1>
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css" />
    <title>Login</title>
</head>
<body>
    <section class="vh-100 bg-image"
             style="background-image: url('https://mobirise.com/bootstrap-template/assets/images/iphone-1067991-1920-1920x1440.jpg');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">LOGIN INTO YOUR ACCOUNT</h2>

                   @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="wrapper bg-white">
            <div class="h4 text-muted text-center pt-2">Enter your login details</div>

            <div class="form-group py-2 ">
                <div class="input-field">
                    <span class="far fa-user p-2"></span>
                    @Html.TextBoxFor(model => model.EMAILID, new {@class = "form-control", placeholder="Enter EmailID" })
                    @Html.ValidationMessageFor(model => model.EMAILID,"",new {@class="text-danger"})
                </div>
            </div>
            <div class="form-group py-1 pb-2">
                <div class="input-field">
                    <span class="fas fa-lock p-2"></span>
                    @Html.TextBoxFor(model => model.PASSWORD, new {@class = "form-control", placeholder="Password" })
                    @Html.ValidationMessageFor(model => model.PASSWORD,"",new {@class="text-danger"})
                    <button class="btn bg-white text-muted">
                        <span class="far fa-eye-slash"></span>
                    </button>
                </div>
            </div>
            
            <button class="btn btn-block text-center my-3">Log in</button>
            <div class="text-center pt-3 text-muted">
                Not a member? <p> @Html.ActionLink("Register here","REGISTER","STD") </p>

            </div>
        </div>
    }
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
</body>
</html>

